:root {
    --dark-color: #000000;
    --dark-gray-color: #3F3D3D;
    --gray-color: #5C5C5C;
    --light-gray-color: #F0F0F0;
    --light-color: #FFFFFF;
    --primary-color: #28D979;
    --dark-primary-color: #149063;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
    margin: 50px;
}

ul {
    list-style: none;
}

.container-row {
    display: flex;
    flex-direction: row;
}

.container-column {
    display: flex;
    flex-direction: column;
}

#root {
    max-width: 595px;
    /*padding: 15px 20px;*/
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.cv-block {
    padding: 12px;
    background-color: var(--light-gray-color);
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    .cv-block__title {
        font-size: 14px;
        font-weight: 500;
    }
}

.profile {
    .profile__avatar {
        width: 124px;
        height: 124px;
        border-radius: 12px;
    }

    .profile__id {
        white-space: nowrap;

        .profile__name {
            font-size: 14px;
            font-weight: 600;
            margin-top: auto;
        }

        .profile__hello {
            font-size: 10px;
            font-weight: 500;
            margin-bottom: auto;
        }

        .profile__post {
            font-size: 12px;
            font-weight: 500;
            color: var(--gray-color);
        }
    }

    .profile__languages {
        width: 100%;

        .languages {
            display: flex;
            margin-top: 16px;
            gap: 17px;

            .languages__name--list,
            .languages__progress--list {
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: space-between;
            }

            .languages__name--list {
                .languages__name--item {
                    font-size: 10px;
                    font-weight: 500;
                }
            }

            .languages__progress--list {
                width: 100%;

                .languages__progress--item {
                    height: 11px;
                    width: 70%;
                    background-color: var(--primary-color);
                    border-radius: 3px;
                }
            }
        }
    }
}

.skills {
    max-height: 40vh;

    .experience__list {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        gap: 10px;
        overflow-x: hidden;
        overflow-y: auto;


        .experience__item {
            padding: 8px;
            font-size: 8px;
            background-color: #FFFFFF;
            border-radius: 10px;
            width: 387px;
            transition: all 0.5s ease-in-out;


            .experience__item--head {
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .most-recent--btn {
                    background-color: rgba(126, 115, 18, 0.4);
                    border: none;
                    border-radius: 60px;
                    padding: 2px 6px;
                    color: rgba(221, 241, 99, 1);
                    font-size: 8px;
                    font-weight: 500;
                    cursor: pointer;
                }
            }

            .experience__item--body {
                display: flex;
                gap: 30px;

                .job {
                    min-width: 129px;
                    white-space: nowrap;

                    .job__title {
                        font-weight: 500;
                        font-size: 10px;
                    }
                }

                .competitions__list {
                    list-style: outside;
                    width: 200px;
                }
            }
        }
    }

    .tools {
        display: flex;
        flex-direction: column;
        gap: 12px;
        overflow: auto;

        .tools__categories {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0 12px;

            .tools__category {
                display: flex;
                flex-direction: column;
                align-items: center;

                .tools__category--title {
                    font-size: 5px;
                    font-weight: 400;
                    transform: translateY(4px);
                    background: var(--dark-color);
                    padding: 2px 6px;
                    border-radius: 50px;
                    color: var(--light-color)
                }

                .tools__category--list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 15px;
                    justify-content: center;
                    padding: 15px;
                    background-color: var(--light-color);
                    border-radius: 6px;
                }
            }
        }

        .tool-icon {
            width: 15px;
            height: 15px;
        }
    }
}

.other {
    gap: 20px;

    .container-column {
        width: 50%;
    }

    .education {
        width: 50%;

        .education__item--head {
            display: flex;
            justify-content: space-between;
        }

        .education__list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 16px;

            .education__item {
                background-color: var(--light-color);
                border-radius: 10px;
                padding: 8px;
                width: 116px;
                transition: background-color 0.5s ease-in-out, color 0.3s ease-in-out;
            }
        }

        .education__favorite--btn {
            cursor: pointer;
        }

        .education__date,
        .education__title {
            font-weight: 500;
            font-size: 10px;
            color: var(--dark-color);
        }

        .education__tags {
            display: flex;
            gap: 2px;
            flex-wrap: wrap;

            .education__tags--item {
                font-size: 8px;
                color: var(--dark-primary-color);
            }
        }

        .education__place {
            font-size: 8px;
        }

        .favorite {
            background-color: var(--primary-color) !important;
            .education__title,
            .education__tags--item,
            .education__date,
            .education__place {
                color: var(--light-color) !important;

            }
        }
    }

    .container-column {
        gap: 20px;
    }

    .interests {
        height: 100%;

        .interests__list {
            margin-top: 16px;
            display: flex;
            gap: 8px;
            flex-wrap: wrap;

            .interests__item {
                padding: 4px 10px;
                background-color: var(--light-color);
                font-size: 10px;
                border-radius: 40px;
            }
        }
    }

    .contact {
        background-color: var(--dark-color);
        color: var(--light-color);
        display: flex;
        flex-direction: column;
        gap: 11px;

        .contact__text {
            font-size: 14px;
            font-weight: 500;
        }

        .contact__email {
            font-size: 10px;
        }
    }

}

.download-btn {
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    color: var(--light-color);
    background-color: var(--primary-color);
    font-weight: 600;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.download-btn:hover {
    background-color: var(--dark-primary-color);
}

.most-recent {
    background-color: var(--primary-color) !important;
    color: var(--light-color) !important;
}

@keyframes smoothFadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.smooth-fade-in {
    animation: smoothFadeIn 0.5s ease-in-out;
}

.ripple {
    position: absolute;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    transform: scale(0);
    animation: ripple-animation 0.6s linear;
    pointer-events: none;
}

@keyframes ripple-animation {
    to {
        transform: scale(2);
        opacity: 0;
    }
}

.delete-btn {
    background-color: var(--dark-color);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 2px 5px;
    cursor: pointer;
    font-size: 10px;
    margin-left: 5px;
}

.add-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
}
